
<section id="rodape">
    <footer class="section panel-footer footer-dafault">
        <div class="container">
            <div class="row">
                <section id="sobre">
                    <div class="col-md-1 col-sm-1 text-left">
                    </div>
                </section>
                <section id="diretorTecnico">
                    <figure class="col-md-3 col-sm-2 text-left">
                        <a class="hidden-xs" href="/Home"><img src="~/Imagens/Logos/healthcare-vector_new_transp.png" width="100" height="350" class="img-responsive"></a>
                        <a class="img_logo_corpo_rodape hidden-lg hidden-md hidden-sm" href="/Home"><img src="~/Imagens/Logos/healthcare-vector_new_transp.png"></a>
                        <hr class="img_logo_corpo_rodape hidden-lg hidden-md hidden-sm" />

                        <p></p>
                        <figcaption id="fundador" class="titulo-paginas-font-9"><b>Responsável Técnico: Dr. Incognito</b></figcaption>
                        <figcaption id="fundador" class="titulo-paginas-font-9"><b>CRM: 123.456</b></figcaption>

                        <hr class="hidden-lg hidden-md hidden-sm" />
                    </figure>
                </section>
                <section id="sobre">
                    <div class="col-md-2 col-sm-2 text-left">
                        <h4 class="titulos-rodape"><b>A Clínica</b></h4>
                        <p><a href="#">Histórico</a></p>
                        <p><a href="/Home/FaleConosco/">Fale Conosco</a></p>
                        <p><a href="/Home/FaleConosco/">Localização</a></p>
                    </div>
                </section>
                <section id="servicos">
                    <div class="col-sm-2 text-left col-md-2">
                        <h4 class="titulos-rodape"><b>Serviços</b></h4>
                        <p><a href="/Servicos/Agendamentos">Agendamentos</a></p>
                        <p><a href="/Servicos/Consultas">Consultas</a></p>
                        <p><a href="/Exames/ExamesQueRealizamos">Exames</a></p>
                        <p><a href="/Preparos/Preparos">Preparo</a></p>
                    </div>
                </section>
                <section id="contato">
                    <div class="col-sm-3 text-left col-md-3">
                        <h4 class="titulos-rodape"><b>Contatos</b></h4>
                        <p><a><i class="fa fa-lg fa-phone"></i> (11)5543-4654</a></p>
                        <p><a href="#">contato@clinicamedica.com.br</a></p>
                        <p><a>R. Pintassilgo 516, 11º Andar</a></p>
                        <p><a>São Paulo/SP</a></p>
                    </div>
                </section>
            </div>
        </div>
    </footer>

    <!-- begin olark code -->
    <script type="text/javascript" async>
        //; (function (o, l, a, r, k, y) {
        //    if (o.olark) return;
        //    r = "script"; y = l.createElement(r); r = l.getElementsByTagName(r)[0];
        //    y.async = 1; y.src = "//" + a; r.parentNode.insertBefore(y, r);
        //    y = o.olark = function () { k.s.push(arguments); k.t.push(+new Date) };
        //    y.extend = function (i, j) { y("extend", i, j) };
        //    y.identify = function (i) { y("identify", k.i = i) };
        //    y.configure = function (i, j) { y("configure", i, j); k.c[i] = j };
        //    k = y._ = { s: [], t: [+new Date], c: {}, l: a };
        //})(window, document, "static.olark.com/jsclient/loader.js");
        ///* Add configuration calls bellow this comment */
        //olark.identify('2806-907-10-6164');
    </script>
    <!-- end olark code -->

</section>