@model IEnumerable<Clinica.Site.Negocio.Cadastro.Exame>
@{
    ViewBag.Title = "Nossos Exames";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 0;
}
<section class="section section_nossos_exames">
    <div class="container-fluid">
        <div class="row row-titulos-paginas">
            <div class="col-md-12 text-center">
                <h2 class="font-titulo-paginas"><i class="fa fa-stethoscope fa-1x" aria-hidden="true"></i>&nbsp;Nossos Exames</h2>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row"><br />
            <div class="col-md-12 text-center">
                <p>Aqui você encontra informações sobre os exames oferecidos em nossa clínica.</p>
            </div>
        </div>
        <hr>
    </div>

    <div class="row">
        <div class="container">
            <br/>
            <p class="text-center"><a href="/Servicos/Agendamentos" class="titulo-paginas-font-14"><i class="fa fa fa-id-card-o" aria-hidden="true"></i> Faça seu agendamento AQUI</a></p>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <table class="table table-responsive" align="center">
                <thead></thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        if (i % 2 == 0)
                        {
                            <tr class="bg-responsive-tables">
                                <td width="5%"><i class="fa fa-check text-success fa-2x" aria-hidden="true"></i></td>
                                <td width="20%">@item.Nome</td>
                                <td width="75%" class="hidden-xs text-justify">@item.Descricao</td>
                            </tr>
                        }
                        else
                        {
                            <tr class="active">
                                <td width="5%"><i class="fa fa-check text-success fa-2x" aria-hidden="true"></i></td>
                                <td width="20%">@item.Nome</td>
                                <td width="75%" class="hidden-xs text-justify">@item.Descricao</td>
                            </tr>
                        }
                        i++;
                    }
                </tbody>
            </table>
        </div>
    </div>

	<div class="section">
        <div class="row">
            <div class="container">
                <p class="text-center"><a href="/Servicos/Agendamentos" class="titulo-paginas-font-14"><i class="fa fa fa-id-card-o" aria-hidden="true"></i> Faça seu agendamento AQUI</a></p>
            </div>
        </div>
	</div>

</section>